@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-color: #191c29;
    font-family: 'Poppins';
    margin-top: 20px;
    padding: 20px; 
    margin-bottom: 50px; 
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* z-index: 10000; */
  }
  
  header .logo{
    color: burlywood;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  header ul li{
    list-style: none;
    margin-left: 20px;
  }
  
  header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
  }
  
  header ul li a:hover , 
  header ul li a.active{
    transition: 0.3s;
    background: #449aa8;
    color: #2b1055;
  }

.fichabody {
    margin-top: 100px;  
    margin-left: 15%;
    
} 

#bodyficha{

    background-image: url('/src/assets/fundoback.png');
    background-size: 58rem;
    background-position: center;
    border-radius: 2rem;
    width: fit-content;

} 

.stars{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1
}

.moon{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    mix-blend-mode: screen; 
  }
  
  
.ficha {

    position: relative;
    background-image: url(./assets/fundo.jpeg); 
    width: 55rem;
    height: 60rem;
    margin: 20px auto;
    padding: 20px; 
    /* border: 2px solid rgba(68, 116, 161, 0.664); */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* z-index: +1; */
}
section{
    width: fit-content;
    margin-bottom: 2rem;

}

form.ficha header {
    /* margin: 2rem; */
    padding-bottom: 2rem;
    display: flex;
    align-content: stretch;
    align-items: stretch;
}

form.ficha section.atributos{
    margin: 130px;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
    justify-content: center;
}


form.ficha header section.Nome_persona{
    
    border: 1px solid black;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    padding: 5px 0;
    /* background-color: #01093681; */
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    top: 0;
    margin: auto;
}

form.ficha header section.Nome_persona label{

   /*  font-weight: bold; */
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins';
    
}

form.ficha header section.Nome_persona input{

    padding: 0.5em;
    margin: 5px;
    border: 0;
    opacity: 0.5;
    
}

form.ficha section.atributos_iniciais{

    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;

}

form.ficha section.atributos_iniciais ul{

    padding: 10px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
}

form.ficha section.atributos_iniciais ul li{

    width: 33%;
    display: flex;
    flex-direction: column-reverse;
}

form.ficha section.atributos_iniciais ul li label{

    text-align: center;
    font-size: 13px;
    font-family: 'Poppins';
    margin-bottom: 6px;
 

}

form.ficha section.atributos_iniciais ul li input{

    border: 0;
    border-bottom: 1px solid #ddd;
    opacity: 0.5;
}

form.ficha div.atributos_sec{

    height: 33%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 5px;
/*     padding-top: 1rem; */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

form.ficha div.atributos_sec label{

    margin-top: 10px;
    margin-bottom: 2.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Poppins';


}
form.ficha div.atributos_sec ul li{
    
    display: flex;
    align-items: center;
}

form.ficha div.atributos_sec ul li *{
    
    margin-left: 5px;

}

form.ficha div.atributos_sec ul li label{

    text-transform: none;
    font-size: 15px;
    text-align: left;
    order: 3;
    font-family: 'Poppins';
}

form.ficha div.atributos_sec ul li input{
    
    width: 40px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    order: 2;
    opacity: 0.5;
}

form.ficha div.atributos_sec label.name_att{

    display: flex;
    justify-content: center;
    font-weight: bold;

}

form.ficha div.attaplicacao{
    
    gap: 1rem;
}

section.atributos{

    display: flex;
    gap: 1rem;
    flex-direction: row;

}


form.ficha div.skills{
    
    width:100%;
    height: 53%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px 5px;
    text-transform: uppercase;
    font-family: 'Poppins';
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

form.ficha div.skills label.skillhead{

  
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  
}

form.ficha div.skills ul li{
    
    display: flex;
    align-items: center;
}

form.ficha div.skills ul li *{
    
    margin-left: 5px;

}

form.ficha div.skills ul li label{

    text-transform: none;
    font-size: 15px;
    text-align: left;
    order: 3;
}

form.ficha div.skills ul li input{
    
    width: 40px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    order: 2;
    opacity: 0.5;
}


form.ficha section.novos_atributos{

    display: flex;
    justify-content: right;
    height: 25rem;
    width: 44%;
    border-radius: 10px;
    padding: 10px 5px;
    flex-wrap: wrap;
}

form.ficha div.personalidade textarea{

    border-radius: 10px 10px 0 0;
}

form.ficha div.meio{

    width: 100%;
    padding: 10px;
 /*    background: #bbb; */
    border-radius: 10px;

}

form.ficha section.novos_atributos div{

    /* background: white; */
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Times New Roman';
    margin-top: 1rem;
    
}

form.ficha section.novos_atributos div.crencas{

    /* background: white; */
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Times New Roman';
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

form.ficha section.novos_atributos div label{

    text-align: center;
    font-size: 15px;
    margin-top: 3px;
}

form.ficha section.novos_atributos div textarea{

    border: 0;
    border-radius: 0;
    height: 5.5rem;
    font-size: 15px;
}

form.ficha section.novos_atributos div.personalidade{

    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    font-size: 15px;

}

form.ficha section.novos_atributos div.ideais{

    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    font-size: 15px;

}

form.ficha section.novos_atributos div.Defeitos{

    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    font-size: 15px;
}

form.ficha section.novos_atributos div.Características{

    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    font-size: 15px;
}


form.ficha div.mente{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

form.ficha  div.scores{

    width: 70px;
    border-radius: 10px;
    padding-bottom: 5px;


}

form.ficha div.scores label{

    font-size: 10px;
    font-family: 'Poppins';
   /*  margin-top: 10px;
    margin-bottom: 2.5px;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman'; */


}

form.ficha  div.scores ul{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


form.ficha div.scores ul li{
    
    height: 12%;
    width: 70px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
 
   /*  display: flex;
    align-items: center; */
}

form.ficha  div.scores ul li input{

    width: 100%;
    padding: 0;
    border: 0;
  
}

form.ficha  div.scores ul li div.score input{
    text-align: center;
    font-size: 40px;
    padding: 2px 0px 0px 0px;
    background: white;
    
}

form.ficha div.scores ul li div.modificador{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

form.ficha div.scores ul li div.modificador input{
    background: white;
    width: 30px;
    height: 20px;
    border: 1px inset black;
    border-radius: 20px;
    margin: -1px;
    text-align: center;
    opacity: 0.5;
}

form.ficha section.atributos div.inspiracao{

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 1rem;
    margin-bottom: 1rem;

}
form.ficha section.atributos div.inspiracao input{

    width: 35px;
    height: 2.3rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    opacity: 0.5;
}

form.ficha div.attaplicacao div.label{

    position: relative;
    width: 10rem;
    height: 25px;
    margin-top: 6px;
    border: 1px solid black;
    border-left: 0;
    text-align: center;
}
    
form.ficha section.atributos div.proeficiencia{

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 1rem;

}

form.ficha section.atributos div.proeficiencia input{

    width: 35px;
    height: 2.3rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    gap: 1rem;
    opacity: 0.5;
}

form.ficha  section.mente label.att_mente{

    display: flex;
    justify-content: center;
    font-weight: bold;

}

form.ficha div.crencas{

    
    width: 100%;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: right;

}

form.ficha div.crencas label{

    margin-top: 10px;
    margin-bottom: 2.5px;
    font-size: 15px;
    font-family: 'Poppins';


}

form.ficha div.crencas ul li{
    
    display: flex;
    align-items: center;
}

form.ficha  div.crencas ul li *{
    
    margin-left: 5px;

}

form.ficha  div.crencas ul li label{

    text-transform: none;
    font-size: 15px;
    text-align: left;
    order: 3;
    font-family: 'Poppins';
}

form.ficha  div.crencas ul li input{
    
    width: 40px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    order: 2;
    opacity: 0.5;
}

form.ficha div.crencas label.NOME{

    display: flex;
    justify-content: center;
    font-weight: bold;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right,#1c0522, #2b1055);
  }
  
  .footer_container{
    display: flex;
    justify-content: flex-end;
    /* padding: 7px; */
  }
  
  .footer_item{
    background-color: #449aa8;
    border-radius: 20px; 
    height:50px;
    width: 273px;
    padding-top: 10px;
    font-size: 14px;

    /* padding: 6px 15px; */
  }


/*   @media (max-width: 1270px) {

    .fichabody{

     

    }

    .navbar{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        top: 0;
        left: 0;
        position: fixed;


    }

    .cards {
        flex-direction: column;
        height: 100%;
       padding-top: 1rem;

    }

    .card {
        margin-top: 40px;
        margin-bottom: 25px;
        width: 90%;
        height: 80%;
        text-align: center;
        font-size: 2rem;
        background-color: #91001b;
    }

    .texto_e_foto {
        flex-direction: column;
        height: 25%;
        width: 100%;
        gap: 1.5rem;

    }

    .foto{
        margin-top: 3rem;
    }
    .texto{
        font-size: 1.2rem;
    }
} */