.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right,#1c0522, #2b1055);
}

.footer_container{
    display: flex;
    justify-content: flex-end;
    padding: 7px;
}

.footer_item{
    background-color: #449aa8;
    border-radius: 20px;
    padding: 6px 15px;
}
