.body_sobre{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2b1055;
    overflow-x: hidden;
}

.header_sobre{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    flex-wrap: wrap;
}

.header_sobre ul{
    display: flex;
    flex-wrap: wrap;
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.logo {
    color: burlywood;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

ul li {
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
}

ul li a.active {
    background: #449aa8;
}

header ul li a:hover , 
header ul li a.active{
    transition: 0.3s;
    background: #449aa8;
    color: #2b1055;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.circle-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -100px;
}
.circle-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.circle-card {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin: 20px;
    perspective: 1000px;
    position: relative;
    overflow: hidden;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.5s;
    border-radius: 50%;
}

.front {
    background-color: #ccc;
}

.back {

    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    color: white; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: -20px;
    font-size: 13px;
}

.circle-card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle-card:hover .front {
    transform: rotateY(180deg);
}

.circle-card:hover .back {
    transform: rotateY(0deg);
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right,#1c0522, #2b1055);
}

.footer_container{
    display: flex;
    justify-content: flex-end;
    padding: 7px;
}

.footer_item{
    background-color: #449aa8;
    border-radius: 20px;
    padding: 6px 15px;
}

@media screen and (max-width: 480px) {
    .header_sobre {
        padding: 5px;
        flex-direction:row;
        text-align: center;
        flex-wrap: wrap;
    }
    .header_sobre ul{
        font-size: 20px;
    }
    .header_sobre ul li{
        margin: 8px;
    }
    .circle-container1{
        margin-top: -90px;
    }
    .footer{ 
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    body {
      padding: 20px;
    }
  
    header {
      padding: 20px;
    }
  
    .card {
      margin: 10px 20px;
      margin-right: 30px;
      gap: 10px;
  
    }
  
    body h1{
      margin-top: 150px;
    }
  
    .moon{
      margin: none;
    }
  
    .titulo{
      margin: none;
      margin-top: 0;
    }
  }

