.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.circle-container {
    display: flex;
}

.circle-card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px 40px;
    perspective: 1000px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    border-radius: 50%;
}

.front {
    background-color: #ccc; /* Cor de fundo da parte da frente do card */
}

.back {
    background-color: red; /* Cor de fundo da parte de trás do card */
    transform: rotateY(180deg);
}

.circle-card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle-card:hover .front {
    transform: rotateY(180deg);
}

.circle-card:hover .back {
    transform: rotateY(0deg);
}
